<f:format.raw value="
<script>
    var _paq = _paq || [];
    (function(){
        var u='//{piwikUrl}/';
        _paq.push(['setSiteId', {piwikId}]);
        _paq.push(['setTrackerUrl', u+'piwik.php']);
" />
<f:if condition="{piwikDomainName}">
    <f:format.raw value="_paq.push(['setDomains', '{piwikDomainName}']);" />
</f:if>
<f:if condition="{piwikCookieDomainName}">
    <f:format.raw value="_paq.push(['setCookieDomain', '{piwikCookieDomainName}']);" />
</f:if>
<f:if condition="{piwikDoNotTrack}">
    <f:format.raw value="_paq.push(['setDoNotTrack', '{piwikDoNotTrack}']);" />
</f:if>
<f:if condition="{piwikCustomizationCode}">
    <f:format.raw value="{piwikCustomizationCode};" />
</f:if>
<f:format.raw value="
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.defer = true;
        g.async = true;
        g.src = u+'piwik.js';
        s.parentNode.insertBefore(g,s);
    })();
</script>" /><noscript><p><img src="//{piwikUrl}/piwik.php?idsite={piwikId}" style="border:0" alt="" /></p></noscript>