.metaseo-search-highlight {
    background-color: yellow;
}

.metaseo-cell-highlight {
    background-color: #FCFF91;
}

.metaseo-warning {
    font-style: italic;
}

.metaseo-url-https {
    color: green;
}

.metaseo-boolean {
    text-align: center;
}

.metaseo-default {
    color: #808080;
    font-style: italic;
}

.metaseo-info-from-base {
    color: #969696;
    font-style: italic;
}

.metaseo-info-only-in-base {
    color: red;
}

.metaseo-grid-editable .x-grid3-body .x-grid3-cell {
    position: relative;
    cursor: pointer;
}

.metaseo-grid-editable .x-grid3-body .x-grid3-cell:hover {
    background-color: #B3B3B3;
    color: white;
}

.metaseo-grid-editable .x-grid3-body .x-grid3-cell:hover.metaseo-cell-highlight {
    color: black;
}

.metaseo-grid-editable .x-grid3-body .x-grid3-cell .t3js-icon {
    visibility: hidden;
    position: absolute;
    right: 3px;
    top: 2px;
    background-color: #B3B3B3;
}

.metaseo-grid-editable .x-grid3-body .x-grid3-cell:hover .t3js-icon {
    visibility: visible;
}

.metaseo-cell-editable {
    cursor: pointer;
}

.x-grid3-body .x-grid3-cell .metaseo-toolbar {
    text-align: center;
}

.x-grid3-body .x-grid3-cell .metaseo-toolbar .t3js-icon {
    visibility: visible !important;
    position: static !important;
    background-color: transparent !important;
}

td.center,
th.center {
    text-align: center;
}

.t3-icon[onclick] {
    cursor: pointer !important;
}

.icon-grid,
.delete {
    background-image: url('../Icons/Delete.gif') !important;
}

.deletedPath {
    color: #ff0000;
    font-weight: bold;
}

.x-window .x-window-body {
    width: auto !important;
    padding: 10px 15px;
}

.x-mask-loading div,
.x-mask-loading-message div {
    background-image: url("../Icons/Spinner.gif");
}

.x-panel-tbar-noheader .x-toolbar,
.x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:transparent;
    padding-bottom: 10px;
}
.x-panel-bbar .x-toolbar {
    padding-top: 10px;
}

.ext-strict .x-grid3-cell-inner,
.ext-strict .x-grid3-hd-inner {
    min-height: 22px;
}

.ext-strict .ext-webkit .x-small-editor .x-form-text,
.ext-strict .x-small-editor .x-form-text {
    background-color: #fefefe;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.x-combo-list {
    border-color: #999;
}
.x-combo-list-item {
    border: 1px solid transparent;
}
.x-combo-list-item:nth-child(odd) {
    background-color: #f7f7f7;
}
.x-panel-tl .x-panel-header {
    padding: 10px 5px;
    color: #000;
}