<f:Be.Container
        includeCssFiles="{0: '{f:uri.resource(path:\'Backend/Css/Default.css\')}'}">
    <div class="module">
        <div class="module-docheader">
            <div class="module-docheader-bar module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    &nbsp;
                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.buttons.shortcut />
                </div>
            </div>
        </div>
        <div class="module-body">
            <f:render section="title" optional="true" />

            <f:flashMessages />

            <f:render section="content" />
        </div>
    </div>

</f:Be.Container>
